@import url("https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Color+Emoji&family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main {
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-track {
  @apply bg-stone-300 dark:bg-stone-700;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary;
  border-radius: 100vw;
}

.chats {
  height: calc(100vh - 49px);
}

.messages {
  @apply h-full grid sticky top-0;
  grid-template-rows: auto 1fr auto;
}
